@import "_variables.scss";

*{
    margin: 0;
    padding: 0;
}

@mixin contenedores( $display , $jc , $pxLetra , $tipografia , $bg ){
    display: $display;
    justify-content: $jc;
    font-size: $pxLetra;
    font-family: $tipografia;
    background-color: $bg;
}

/*BOOTSTRAP*/
#ulNavBar{
    display: flex;
    justify-content: flex-end;
}


/*MAIN INICIO*/

#mainInicio{
    background-image:url(../img/fondomarmolrosa.png);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 10% 30% 20% 20% ;
    grid-template-areas: "titulo1 titulo1"
                         "texto3 img4";
    row-gap: 10px;   
    justify-content: center;
    align-items: center;
    
    .tituloInicio{
        @include contenedores (flex , center , 50px , $tipografia-titulo , #ffe5ec);
        grid-area: titulo1; 
    }

    .subtituloInicio{
        grid-area: texto3;
        font-size: 45px;
        font-family: $tipografia-subtitulo;


        
    }

    
    .textoInicio{
        grid-area: texto3;
        font-size: 30px;
        font-family: 'Work Sans', sans-serif;
        
    }


    .divLogo{
        grid-area: img4;
        width: 100%;
        height: 100%;
    }
}


/*FOOTER*/
footer{
    height: 120px;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    background-color: #F6A5EB;

        
   .link{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    grid-template-areas: "facebook facebook"
                            " instagram instragram";
    
    

       .aFooter{
        text-decoration: none;
        color: white;
        font-family: 'Staatliches', cursive;
        display: flex;
        flex-direction: row;
        grid-area: facebook;
        padding-right: 10px;

            .aFooter:hover{
                color: blue;
            }
       
            .iredes{
                position: relative;
                top: 5px;
            }
    
        }
        
        .aFooter:hover{
            color: rgb(51, 51, 250);
        }
       
       
        .aFooter1{
        text-decoration: none;
        color: white;
        font-family: 'Staatliches', cursive;
        display: flex;
        flex-direction: row;
        grid-area: instagram;
        padding-right: 10px;
        
            .iredes1{
                position: relative;
                top: 5px;
                height: 20px;
            }
    
        }

        .aFooter1:hover{
            color: rgb(51, 51, 250);
        }
    
    }

    .logoFooter{
        height: 115px;
        width: 115px;
        position: absolute;
        left: 10px;
       }   

}


/*MAIN PRODUCTOS*/

#mainProducto{
    height: 3000px;
    width: 100%;
    background-color: black;
                          
    .tituloProducto{
        grid-area: titulo1;
        @include contenedores (flex , center , 50px , $tipografia-titulo , #ffe5ec);
    }
    
    #padreGaleria{
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows:1fr 1fr 1fr;
        grid-template-areas: "foto1 foto2"
                              "foto3 foto4"
                              "foto5 foto6";
        justify-content: center;                      
        align-items: center;
        gap: 20px;
        row-gap: 20px;
    
    
    
        .jean1{
            grid-area: foto1;
            height: 100%;
            width: 100%;
        }
        
        .jean2{
            grid-area: foto2;
            @extend .jean1
        }
        
        .jean3{
            grid-area: foto3;
            height: 100%;
            width: 100%;
        }
        
        .jean4{
            grid-area: foto4;
            @extend .jean1
            
        }
        
        .jean5{
            grid-area: foto5;
            @extend .jean1
        }
        
        .jean6{
            grid-area: foto6;
            @extend .jean1
        }
    
    }

}                       

 /*ENVIO*/

#mainEnvio{
    width: 100%;
    height: 1000px;
    background-image: url(../img/fondoenvio.jpg);


    .tituloEnvio{
        @include contenedores (flex , center , 50px , $tipografia-titulo , #ffe5ec);
    }
    
    #divEnvio{
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "envio1 listado2"
                             " envio1 listado2"
                             "mapa3 mapa3";
        justify-content: center;
    
    
        .subtituloEnvio{
            font-size: 45px;
            font-family: $tipografia-subtitulo;
        }
        
        
        .formaEnvio{
            grid-area: listado2;
            font-size: 45px;
            font-family: $tipografia-subtitulo;
        }

        
        .explicacionEnvio{
            grid-area: texto3;
            font-size: 30px;
            font-family: 'Work Sans', sans-serif;
        }

    
        .listaEnvio{
            grid-area: envio1;
            
        }
        
        
        .subtituloEncuentro{
            font-size: 45px;
            font-family: $tipografia-subtitulo;
        }
        
        .listaEncuentro{
            font-size: 35px;
            font-family: $tipografia-subtitulo;
        }
    
    
    
        mapa{
            grid-area: mapa3;
        }
    }

    #parrafoEnvio{
        display: flex;
        justify-content: center;
        padding: 20px;
        font-size: 45px;
        font-family: $tipografia-subtitulo;
    }
}

/*COMO COMPRAR*/

#mainCompra{
    width: 100%;
    height: 1000px;
    background-image: url(../img/fondoproductos.jpg);

        
    .tituloCompra{
        @include contenedores (flex , center , 50px , $tipografia-titulo , #ffe5ec);
    }

    #gridCompra{
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-areas: "encuentra1 compra2"
                             "encuentro1 compra2";                  
        justify-content:center;
        margin: 0 1%;
    
    
        .subtituloEncuentra{
            font-size: 45px;
            font-family: $tipografia-subtitulo;
        }
        
        .explicacionEncuentra{
        
            font-size: 30px;
            font-family: 'Work Sans', sans-serif;
        }
    
        
        .subtituloCompra{
            font-size: 45px;
            font-family: $tipografia-subtitulo;
        }
        
        .explicacionCompra{
            font-size: 30px;
            font-family: 'Work Sans', sans-serif;
        }
    
    }

    #logoCompra{
        display: flex;
        position: relative;
        left: 550px;
        height:400px;
        width: 400px;
        padding: 60px;
        
    }

}

/*CONTACTO*/
#mainContacto{
    height: 1000px;
    width: 100%;
    background-image: url(../img/fondocontactos.png);

    .tituloContacto{
        @include contenedores (flex , center , 50px , $tipografia-titulo , #ffe5ec);
    }

    #gridContacto{
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "fila1 fila2"
                             "fila3 fila3";
                             
        justify-content: center;
        margin: 0 10px;

        
    }
   
    #divContacto{
        grid-area:fila1 ;
        
    
        .subtituloContacto{
            display: flex;
            justify-content: center;
             font-size: 45px;
             font-family: 'Bebas Neue', cursive
         }
    
        
         .ulContacto{
            list-style-type: none;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 10px;
        
            .licontacto{
                padding: 10px;
            
            
                #redescontacto{
                    color: #a0d4f8;
                    font-size: 30px;
                    text-decoration: none;
                }
                
                #redescontacto:hover{
                    color: #9BD1A7;
                    background-color: rgba(0, 0, 0, 0.096);
                }
            }
            
        }
    }

    .mapaContacto{
        grid-area: fila3;
        padding: 50px;
    }
       

}

/*MEDIA QUERY*/
@media only screen and (max-width:768px){ 
    #mainInicio{
        background-image:url(../img/fondomarmolrosa.png);
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10% 50% 30% ;
        grid-template-areas: "titulo1 titulo1"
                             "texto3 texto3"
                             "img4 img4";
        row-gap: 10px;   
        justify-content: center;
        align-items: center;
    }
    
    
    .subtituloInicio{
        display: flex;
        padding: 0;
        grid-area: texto3;
        font-size: 45px;
        font-family: $tipografia-subtitulo;
       
    }
    
    
    .textoInicio{
       margin-top: 100px;
       padding: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       grid-area: texto3;
       font-size: 30px;
       font-family: 'Work Sans', sans-serif;
        
    }
    
    .divLogo{
        display: flex;
        justify-content: center;
        grid-area: img4;
        width: 100%;
        height: 100%;
    }

    .subYtexto{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
}
